<?php

####################################################################
# Development
####################################################################
$wgShowExceptionDetails = true;
$wgShowDBErrorBacktrace = true;
$wgShowSQLErrors = true;

####################################################################
# Server
####################################################################
$wgServer = '';

####################################################################
# Database
####################################################################
$wgDBtype = 'mysql';
$wgDBserver = '';
$wgDBname = 'wiki_iot';
$wgDBuser = '';
$wgDBpassword = '';

####################################################################
# Email
####################################################################

$wgEmergencyContact = '';
$wgPasswordSender = '';
// $wgNoReplyAddress = '';

$wgSMTP = [
    'host' => '',
    'IDHost' => '',
    'port' => 465,
    'username' => '',
    'password' => '',
    'auth' => true
];

####################################################################
# Keys
####################################################################
$wgGTagAnalyticsId = '';
$wgSecretKey = '';
$wgUpgradeKey = '';
